.ProductModal {
  background: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.ProductModal__Content {
  background-color: #ffffff;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      32.5px 32.5px,
    linear-gradient(#f2faf6 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, #f2faf6 2.6px, #ffffff 2.6px) -1.3px 0;
  background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  max-width: 800px;
  max-height: 500px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
}
.ProductModal[data-state="true"] .ProductModal__Content {
  animation: abrakadabra 1s linear;
}
@keyframes abrakadabra {
  0% {
    opacity: 0;
    top: -10%;
  }
  50% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.ProductModal__Content__Close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: "Fredoka One", cursive;
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.ProductModal__Content__Close:hover {
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
}

.ProductModal__Content__Box {
  display: block;
  margin: auto;
}

textarea.ProductModal__Content__Box__Formula {
  display: block;
  color: #000000;
  line-height: 1.5em;
  font-weight: 700;
  border: 0;
  width: 90%;
  background: linear-gradient(90deg, #ffffff 11px, transparent 1%) center,
    linear-gradient(#ffffff 11px, transparent 1%) center, #ffffff;
  background-size: 12px 12px;
  box-shadow: 0 0 5px 0 rgba(0, 165, 79, 0.1);
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 1em;
  margin: 20px auto;
}
textarea.ProductModal__Content__Box__Formula:hover,
textarea.ProductModal__Content__Box__Formula:focus {
  background: linear-gradient(90deg, #ffffff 11px, transparent 1%) center,
    linear-gradient(#ffffff 11px, transparent 1%) center, #00a54f;
  background-size: 12px 12px;
  box-shadow: 0 0 15px -5px rgba(0, 165, 79, 0.5);
}

.ProductModal__Content__Box__Buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a.ProductModal__Content__Box__Buttons__Button {
  color: #ffffff;
  font-weight: 900;
  background: linear-gradient(180deg, #32b772 0, #00a54f 100%);
  text-transform: uppercase;
  border: 0;
  border-radius: 15px;
  padding: 1em 1.5em;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: block;
  margin: 20px;
}
a.ProductModal__Content__Box__Buttons__Button:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

a.ProductModal__Content__Box__Buttons__Button span {
  display: block;
  font-size: 0.75em;
  color: #ffffff;
}

.ProductModal__Content__Box__Buttons__Button__Notes {
  margin-top: -10px;
}

.ProductModal__Content__Box__Buttons__Button__Notes p {
  font-size: 10px;
}

.ProductModal__Content__Box__Buttons__Button__Notes__User {
  cursor: pointer;
  position: relative;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}
.ProductModal__Content__Box__Buttons__Button__Notes__User:hover
  p.ProductModal__Content__Box__Buttons__Button__Notes__User__Name {
  background: rgba(0, 165, 79, 0.1);
}
.ProductModal__Content__Box__Buttons__Button__Notes__User:hover
  .ProductModal__Content__Box__Buttons__Button__Notes__User__Icon {
  background: rgba(0, 165, 79, 0.3);
}

p.ProductModal__Content__Box__Buttons__Button__Notes__User__Name {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  width: fit-content;
  padding: 2px 10px;
  border-bottom: 1px dashed #00a54f;
  border-radius: 50px;
  min-width: 100px;
  min-height: 1rem;
}

.ProductModal__Content__Box__Buttons__Button__Notes__User__Icon {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  top: 0;
  right: -25px;
}

.ProductModal__Content__Box__Buttons__Button__Notes__User__Icon img {
  cursor: pointer;
  width: 20px;
  padding: 6px;
}
