.RequestData {
  background: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.RequestData__Content {
  background-color: #ffffff;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      32.5px 32.5px,
    linear-gradient(#f2faf6 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, #f2faf6 2.6px, #ffffff 2.6px) -1.3px 0;
  background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  max-width: 550px;
  max-height: 350px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  padding: 20px;
}
.RequestData[data-state="true"] .RequestData__Content {
  animation: abrakadabra 1s linear;
}
@keyframes abrakadabra {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.RequestData__Content__Close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: "Fredoka One", cursive;
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.RequestData__Content__Close:hover {
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
}

.RequestData__Content__Box {
  display: block;
  margin: auto;
}

.RequestData__Content__Box__InputBox {
  max-width: 450px;
  width: 95%;
  margin: 20px auto 0;
  padding: 0px;
}

.RequestData__Content__Box__InputBox p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.RequestData__Content__Box__InputBox__Input {
  display: block;
  border: 0px;
  width: 100%;
  color: #000;
  overflow: hidden;
  box-shadow: 0 2.5px 10px -2.5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: relative;
  text-align: center;
  padding: 1em;
  margin: 0px;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.RequestData__Content__Box__InputBox__Input:hover,
.RequestData__Content__Box__InputBox__Input:focus {
  box-shadow: 0 5px 15px -2.5px rgba(0, 0, 0, 0.3);
}

input.RequestData__Content__Box__InputBox__Button {
  color: #ffffff;
  font-weight: 900;
  background: linear-gradient(180deg, #32b772 0, #00a54f 100%);
  text-transform: uppercase;
  border: 0;
  border-radius: 15px;
  padding: 1em 1.5em;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: block;
  width: fit-content;
  margin: 20px auto 0;
}
input.RequestData__Content__Box__InputBox__Button:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}
