.Signature__Logo {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto 15px;
}

.Signature__Logo__Text {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #4117ab;
  font-weight: 700;
  font-size: 8px;
  margin-bottom: 5px;
}

.Signature__Logo__Lenses {
  cursor: pointer;
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

.Signature__Logo__Smile {
  cursor: pointer;
  width: 15%;
  margin: 0 auto;
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.Signature__Logo:hover .Signature__Logo__Lenses {
  transform: translateY(-3px);
}

.Signature__Logo:hover .Signature__Logo__Smile {
  opacity: 1;
}
