.ContactModal {
  background: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.ContactModal h3 {
  margin-bottom: 20px;
}

.ContactModal__Content {
  background-color: #ffffff;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      32.5px 32.5px,
    linear-gradient(#f2faf6 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, #f2faf6 2.6px, #ffffff 2.6px) -1.3px 0;
  background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
  border-radius: 20px;
  width: 90%;
  height: fit-content;
  max-width: 600px;
  max-height: 400px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  padding: 45px;
}
.ContactModal[data-state="true"] .ContactModal__Content {
  animation: fadeInTop 1s linear;
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: -10%;
  }
  50% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .ContactModal__Content {
    max-height: 90vh;
    padding: 10px;
    overflow: scroll;
  }
  .ContactModal__Content__Contact {
    text-align: center;
    display: block;
  }
  .ContactModal__Content__Contact a {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .ContactModal__Content__Contact p {
    margin: 1em auto;
  }
  .ContactModal__Content__Contact__Icon {
    margin-right: 0px;
    margin: 0 auto;
  }
}

.ContactModal__Content__Close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-family: "Fredoka One", cursive;
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.ContactModal__Content__Close:hover {
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
}

.ContactModal__Content__Box {
  display: block;
  margin: auto;
  width: 95%;
}

.ContactModal__Content__Contact {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.ContactModal__Content__Contact a {
  display: block;
  width: fit-content;
  margin-left: 1em;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  background: linear-gradient(180deg, #32b772 0, #00a54f 100%);
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.3);
}
.ContactModal__Content__Contact a:hover {
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.5);
}

.ContactModal__Content__Contact__Icon {
  box-sizing: border-box;
  background: rgba(0, 165, 79, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 1em;
}

.ContactModal__Content__Contact__Icon img {
  width: 30px;
  padding: 0.4em;
}
