.Result {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #00a54f;
  color: #ffffff;
  font-family: "Fredoka One", cursive;
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
