html {
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  position: relative;
  background: #ffffff;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  cursor: default;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
p,
a,
span,
input,
textarea,
div {
  font-family: "Nunito", sans-serif;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  color: #000000;
  text-shadow: 0 0.1em 0.1em rgb(0, 0, 0, 0.08);
}

strong {
  font-weight: 900;
}

h1,
h2,
h3,
h4 {
  font-family: "Fredoka One", cursive;
  letter-spacing: 1.5px;
}

button,
input[type="submit"] {
  font-family: "Fredoka One", cursive;
  letter-spacing: 1px;
}

@media (min-width: 801px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p,
  a,
  span,
  label,
  input,
  textarea,
  button,
  div {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  a,
  span,
  label,
  input,
  textarea,
  button,
  div {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  box-sizing: content-box;
  background-clip: content-box;
  border-top: 20px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #270e67;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1f0b52;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #270e67;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #270e67;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #270e67;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1f0b52;
}
